@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-neutral-700;
  --color-sky-300: "#7dd3fc";
  --color-sky-250: "#A9E5FF";
  --color-sky-100: "#e0f2fe";
  --color-neutral-700: "#404040";
  --color-neutral-500: "#737373";
  --color-rose-300: "#f9a8d4";
  --color-rose-100: "#fbcfe8";
}

@layer base {
  input {
    @apply w-full rounded border border-neutral-300 px-3 py-2 placeholder-neutral-400 shadow-sm  focus:border-sky-500 focus:outline-none focus:ring-1 focus:ring-sky-500;
  }

  label {
    @apply mb-2 block text-sm;
  }
}

@layer components {
  .btn {
    @apply rounded bg-sky-300 px-4 py-2 font-bold text-white focus:outline-none focus:ring-4 focus:ring-blue-100 enabled:hover:bg-sky-500 disabled:opacity-75;
  }
  .btn-secondary {
    /* @apply rounded bg-sky-300 px-4 py-2 font-bold text-white enabled:hover:bg-sky-50  enabled:hover:text-sky-300 disabled:hover:bg-sky-50  disabled:hover:text-sky-300 ; */
    @apply rounded bg-sky-50 px-4 py-2 font-bold text-sky-300 enabled:hover:bg-sky-300  enabled:hover:text-white disabled:hover:bg-sky-300  disabled:hover:text-white;
  }

  .btn-icon {
    @apply flex max-h-[60px] max-w-[60px] items-center rounded bg-sky-200 p-2 font-bold text-white hover:bg-sky-300 focus:bg-sky-300 enabled:hover:bg-sky-300 disabled:opacity-75;
  }

  .friend-list {
    @apply h-full w-full border-r border-neutral-200 md:min-w-[240px] md:max-w-[320px];
  }
  .chat {
    @apply relative flex h-full w-full flex-grow flex-col bg-white md:min-w-[420px];
  }
}

@layer utilities {
  /* @keyframes slide-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  } */

  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  @keyframes bounce-once {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25%);
    }
  }
}
